$font-family: 'Montserrat', sans-serif;

$primary-color: #15573f;
$secondary-color: #fd9872;
$highlight-color: #75bc97;

$white: #fff;
$gray: #f2f2f2;
$border-gray: #a8a8a8;

$container: 900px;

$breakpoint-tablet: 1024px;
$breakpoint-mobile: 767px;
